<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-control">
    <input matInput placeholder="Enter your Email" formControlName="email">
    <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched"></mat-error>
  </mat-form-field>
  <mat-form-field class="form-control">
    <input matInput placeholder="Enter your Password" formControlName="password">
    <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"></mat-error>
  </mat-form-field><br>
  <button mat-raised-button color="red" type="submit" class="form-btn">Login</button><br>
  <button mat-raised-button routerLink="/signup" class="form-btn">Signup</button>
</form>
</div>
